#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{
  border: 0px solid red ;
}
#cabecera{
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
#menu{
  padding: 1em 1em 1em 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #004C99;
}
#noticias,#patrocinadores,#principal,#secundario{
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#pie{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}
.articulo{
  margin: 1em 1em 1em 1em;
}
.articulo>img{
  margin:0.5em 0.5em 0.5em 0.5em ;
}
#patrocinadores{
  margin-top: 1em;
  border:1px dashed #CC6600;
}
#noticias{
  border:1px solid #C5C5C5;
}
div#secundario{
  border:1px solid #CC6600 !important;
}
#pie{
  border-top:1px solid #C5C5C5;
  border-bottom:1px solid #C5C5C5;
}
