img{

    float: left;
    width: 300px;
    height: 300px;
}


#footer{
  border: 1px solid grey;
  background-color: grey;
  padding: .5em;
  overflow: hidden;

}
.derecha   {
  float: right;
}
.izquierda {
  float: left;
}
