*{
  font-size:18pt;
}
header>h1{
  color:blue;
  font-size:32pt;
}
article >h1{
  color:orange;
}

img+p{
  background: yellow;
  color:red;
  font-family:Courier;
  text-transform:capitalize;
}
footer>span{
  color:pink;
}
p>b.destacado{
  color:red;
}
#japo{
  color:magenta;
  font-size:24pt;
}
p>i{
  color:green;
}

a:hover{
  color:grey;
  font-weight:bold;
}

.destacado{
  color:blue;
  font-weight: bold;
}

a{
  color:green;
}
article p:nth-child(even){
  background-color: yellow;
}

a[http://www.pokemon.com/es/]{
  color:purple;
}
